<p id="notice"><%= notice %></p>

<h1>Product Suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_suppliers.each do |product_supplier| %>
      <tr>
        <td><%= product_supplier.product_id %></td>
        <td><%= product_supplier.supplier_id %></td>
        <td><%= link_to 'Show', product_supplier %></td>
        <td><%= link_to 'Edit', edit_product_supplier_path(product_supplier) %></td>
        <td><%= link_to 'Destroy', product_supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Supplier', new_product_supplier_path %>
