<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_supplier.product_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @product_supplier.supplier_id %>
</p>

<%= link_to 'Edit', edit_product_supplier_path(@product_supplier) %> |
<%= link_to 'Back', product_suppliers_path %>
